:root {
    --global-hs: 0 0%;
    --accent-hs: 210 25%;
    --channel-1-ch: 25% 30deg;
    --channel-2-ch: 25% 150deg;
    --channel-3-ch: 25% 270deg;
    --channel-4-ch: 0% 0deg;
    --background-color: light-dark(hsl(var(--global-hs) 100%), hsl(var(--global-hs) 10%));
    --accent-color: light-dark(hsl(var(--accent-hs) 50%), hsl(var(--accent-hs) 75%));
    --text-color: light-dark(hsl(var(--global-hs) 0%), hsl(var(--global-hs) 100%));
    --hint-color: light-dark(hsl(var(--global-hs) 40%), hsl(var(--global-hs) 70%));
    --input-color: light-dark(hsl(var(--global-hs) 97%), hsl(var(--global-hs) 16%));
    --hover-color: light-dark(hsl(var(--global-hs) 90%), hsl(var(--global-hs) 24%));
    --active-color: light-dark(hsl(var(--accent-hs) 90%), hsl(var(--accent-hs) 24%));
    --line-height: 1.2rem;
    --layout-padding: 0.5rem;
    --layout-gap: calc(var(--line-height) / 2);
    --layout-small-gap: calc(var(--layout-gap) / 2);
    --vertical-padding: 0.4rem;
    --horizontal-padding: 0.5rem;
    --padding: var(--vertical-padding) var(--horizontal-padding);
    --widget-height: calc(var(--line-height) + var(--vertical-padding) * 2);
    --thin-border: 1px solid light-dark(hsl(var(--global-hs) 85%), hsl(var(--global-hs) 24%));
    --corners: 4px;
    --checkbox-size: 1rem;
    --small-input-width: 5rem;

    color-scheme: light dark;
}

@font-face {
    font-family: "Main";
    src: url("../fonts/roboto_variable_width.ttf") format("truetype");
}

@font-face {
    font-family: "Main";
    src: url("../fonts/icons.ttf") format("truetype");
    unicode-range: U+e000-f8ff;
}

@media (max-width: 576px) {
    :root {
        --line-height: 1.6rem;
    }
}

* {
    accent-color: var(--accent-color);
    box-sizing: border-box;
    color: var(--text-color);
    font: 14px "Main";
    line-height: var(--line-height);
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
}

button {
    background-color: var(--input-color);
    border: var(--thin-border);
    border-radius: var(--corners);
    font-weight: 500;
    height: var(--widget-height);
    padding: 0 var(--horizontal-padding);
    user-select: none;
}

button:hover {
    background-color: var(--hover-color);
}

input {
    background-color: var(--input-color);
    border: var(--thin-border);
    border-radius: var(--corners);
    height: var(--widget-height);
}

input:not([type="range"]) {
    padding: 0 var(--horizontal-padding);
}

input[type="checkbox"] {
    width: var(--checkbox-size);
}

input[type="radio"] {
    height: var(--checkbox-size);
    width: var(--checkbox-size);
}

select {
    background-color: var(--input-color);
    border: var(--thin-border);
    border-radius: var(--corners);
    height: var(--widget-height);
    padding: 0 var(--horizontal-padding);
}

textarea {
    background-color: var(--input-color);
    border: var(--thin-border);
    border-radius: var(--corners);
    padding: var(--padding);
}

.active {
    background-color: var(--active-color);
}

.checkerboard-bg {
    --gradient: linear-gradient(
        45deg,
        hsl(0 0% 75%) 25%,
        transparent 25%,
        transparent 75%,
        hsl(0 0% 75%) 75%
    );

    background: var(--gradient), var(--gradient), hsl(0 0% 50%);
    background-position: 0 0, 8px 8px;
    background-repeat: repeat repeat;
    background-size: 16px 16px;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
    transition: opacity 0.5s;
}

.drag-over {
    outline: 2px solid var(--accent-color);
}

.dragged {
    opacity: 0.5;
}

.hidden {
    display: none !important;
}

.transhover {
    opacity: 0.5;
    transition: opacity 0.1s;
}

.transhover:hover {
    opacity: 1.0;
}
